body{
    margin: 0;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

h1{
    font-size:40px;
}

.colour{
    color: blue;
}

.c2{
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}

.c2 img{
    width: 80%;
    height: 70%;
    
}
.c3{
    background-image: url("image/kafi5.png");
    background-size: 100%;

}
section{
    height: 400px;
    width: 92%;
    margin-top: 40px;
}
.alin{
    text-decoration: none;
    background-image:linear-gradient(lightsalmon,tomato) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    font-family:bold;
    font-size: 20px;
}
.hero{
    color:rgb(239, 173, 51);
    font-size: 70px;
}
h2{
    font-size: 35px;
}
.exp{
    margin-top: 140px;
    margin-left: 20px;
}
.expr{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 70%;
}
#kafi{
    border-left:7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#jony{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
.tui{
    color: orange;
}
.cool{
    color:tomato;
}